#home
  h1.tk-daniel Demonstrate xss exploits
    br 
    em faster
  div
    h3 xss.io helps you build proof-of-concept exploits for cross-site scripting vulnerabilities during penetration tests.
    ul
      li Build advanced multi-step exploits from your library of reusable code snippets.
      li Super-short referrer-based urls preserve precious character space.
      li Simple API for creating unique blind xss dead drops.
      li Manager for dead drop callbacks and gathered intel.
  h2 Private access only. <a href="http://twitter.com/adam_baldwin">Tweet me</a> for access.
